:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  padding-left: 1.125em;
  text-align: right;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex-end;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

nav ul li {
  padding-left: 1.125em;
}

nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    color: black;
}


.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  background-color: white;
}

#intro > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  text-align: center;
}

#add-to-cart{
  background-color: black ;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1em;
}

.main-img {
  grid-column: 1/-1;
}

footer {
  text-align:center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  /* background-color: #fff; */
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  margin: 1rem;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: .5rem;
}

.pull-quotes {
  display: flex;
  flex-direction: column;
}

#ice-cream-flavours {
  text-align: center;
  background-color: lightgrey;
}

div > .card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
 } 



@media (min-width:768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .main-img{
    grid-column: 1;
  }

  .dough-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #ice-cream-flavours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: ;
  }
  
  .pull-quotes {
    flex-direction: row;
  }
}

@media (min-width:960px) {
  #intro > .wrapper{
    flex-direction: row;
  }
}

div img {
  display: flex;
}

.dough-info {
  gap: 1rem;
}

div > .quotes {
  background-color: black;
  padding: 100%;
  color: black;
}



